
<div class="jumbotron">
  <h1 align="center"> Event Details</h1>

  <div class=" row" align="center" >
    <div class="col-md-6">
      <h5 align="center">Creator: <%= link_to "#{@event.creator.name}", user_path(@event.creator.id) %> </h5>
      <h5>Date: <%= @event.event_date %></h5>
      <h5>Description: <%= @event.desc %></h5>
    </div>
    <div class="col-md-6">
      <h3 align="center"> Attendees:</h3>
      <% if @event.users.any? %>
      <% @event.users.each do |attendee| %>
      <p align="center"><%= attendee.username %></p>
      <%end %>
      <% else %>
      <p>No attendees</p>
      <% end %>
    </div>
  </div>


</div>
